WMS/Service References/wcfCadastro/Cadastro2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element name="_x003C_desPerfil_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_idPerfil_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil" />
</xs:schema>