WMS/Service References/wcfCadastro/Cadastro.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IncluirPerfil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirPerfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pJSONPerfil" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarPerfilResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>